.header-link {
    font-size: 12px;
    font-weight: bold;
}
header .logo-container {
    max-height: 43px;
    max-width: 200px;
}

.iconsvg {
    font-size: 1px;
    vertical-align: middle;
    display: inline-block;
    background-image: url('https://e00-marca.uecdn.es/assets/v12/img/sprites/sprites-1536648823363.svg');
    background-repeat: no-repeat;
}

.icon-es {
    background-position: -1px -557px;
    width: 24px;
    height: 24px;
}

.active .icon-es {
    background-position: -1px -583px;
}

.icon-mx {
    background-position: -1px -609px;
    width: 24px;
    height: 24px;
}

.icon-col {
    background-position: -1px -453px;
    width: 24px;
    height: 24px;
}

.icon-ar {
    background-position: -1px -369px;
    width: 24px;
    height: 14px;
}

.icon-en {
    background-position: -1px -505px;
    width: 24px;
    height: 24px;
}

#mainNav .dropdown-menu {
    width: calc(100vw - 10rem);
}

#mainNav .nav-item.dropdown.show,
#mainNav .dropdown-menu,
#mainNav .dropdown-item:hover {
    background-color: rgba(20,29,37,0.97);
}

#mainNav div.dropdown-item {
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

#mainNav div.dropdown-item a {
    margin-right: 5px;
    margin-left: 5px;
}

#mainNav div.dropdown-item a:first-of-type {
    margin-left: 0px;
}

#dropdownMenuBaloncesto {
    left: -79px;
}
#dropdownMenuMotor {
    left: -189px;
}
#dropdownMenuPolideportivo {
    left: -267px;
}

@media only screen and (max-width: 767px) {
    #mainNav .nav-item {
        padding-left: 15px !important;
    }
}

#teams {
    background-color: #eeeeee;
}